.header{
    width: 100%;
    min-height: 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 20px -10px #1111112b;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // margin-bottom:300px;

}
